.logo{
    margin: 15px;
    width: 50%;
}
.header{
    display: flex;
    flex-direction: row;
}
.header__image{
    width: 15%;
}
.header__list{
    list-style: none;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__list-item{
 margin: 5% 0;
 font-size: 1.5em;
 color: #406325;
 text-decoration: none;
}
.list{
    text-align: left;
    list-style: none;
}
.list_header{
    list-style: circle;
    margin: 0;
    padding: 0;
}
.selected{
    color:#58410B;
    text-decoration: underline;
}
.section__heading{
    margin: 30px  20%;
    color: #58410B;
}
.section__heading_welcome{
    width: 100%;
    text-align: center;
}
.about__button{
    margin: 0;
}
.about__header{
    margin: 0;
}
.about__subheader{
    font-size: .5rem;
    margin-bottom: 5px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: #58410b;
}
.contact-form fieldset{
    height: 10%;
    display: flex;
    justify-content: space-between;
    
}
input{
    width: 75%;
    margin: 5px;
}
textarea{
    width: 80%;
    min-height: 100px;
}

.contact-form__submit {
    font-size: 100%;
    margin: auto;
    width: 30%;
  color: #406325;
  background-color: #eeeed1;
}
.contact-form__submit:disabled {
    background-color:ghostwhite;
    color: gray;
}
.email-received{
    position: fixed;
    width: 50%;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
}
.email-received_hidden{
    display: none;
}
.section__main-image{
    width: 100%;
    margin: auto;
}
.footer{
    background-color: #377D13;
    min-height: 15px;
}
.footer__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer__icon{
    max-width: 30px;
    width: 5vw;
    height: 5vw;
    padding: 2px;

}
.two-columns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
.column{
    width: 50%;
    margin: auto;
    padding: 15px;
    /*text-align: center;*/
}
.column p{
    text-align: left;
    
}

.blob{
    background-color: #809552;
    line-height: 15vh;
    height: 15vh;
    border-radius: 150px;
    margin-top: 5px;
    display: flex;
    align-content: center;
}
.blob__name{
    font-size: 1.5rem;
    color: #58410B;
    margin: auto;   
}
.portfolio__image{
    width: 90%;
    border-radius: 10px;
    margin: auto;
}
.portfolio__list-item{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    background-color: #377D13;
    border-radius: 20px;
    margin: 5px auto;
}
.portfolio__text{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 3px;
}
.portfolio__text_description{
    font-size: .7rem;
}

.massage{
    min-height: 75vh;
    width: 95%;
    margin: auto;
    background-image: url('https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/*.scroll-area{
    list-style: none;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}*/
.massage__services{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.massage__service-card{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    border-radius: 45px;
    background-color: rgba(55, 125, 19, .5);
    
    width: 30%;
    min-height: 15%;
}
.massage__service-title{
    text-align: center;
}
.massage__service-image{
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
}
.massage__service-brief{
    margin: 5px;
    text-align: center;
    max-height: 30%;
    overflow-y:scroll;
}
.modal{
display: none;
}
.modal_open{
display: block;
position:fixed;
width: 90vw;
top: 1%;
left: 5%;
right: 10%;
bottom: 5px;
background-color: rgb(55, 125, 19);
}
.two-columns img{
    margin: 5% auto;
}

@media screen and (max-width: 700px) {
    .two-columns{
        flex-direction: column;
    }
    .column{
        width: 90%;
        padding: 0;
    }
    .contact-form{
        width: 90%;
    }
    
}
